<mat-card>
  <mat-card-content>
    <body class="text-center">
      <form [formGroup]="userForm" #f="ngForm">
        <img src="assets\image\icon.jpg" alt="Logo">
        <p>
          <mat-form-field>
              <input 
              ng2TelInput
              [ng2TelInputOptions]="{initialCountry: 'in'}" 
              (countryChange)="onCountryChange($event)" 
              matInput 
              formControlName="phone">
              <mat-error >
                {{errors.phone}}
              </mat-error>
          </mat-form-field>
  
      </p>
      <p>
        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
          <mat-error>
            {{errors.password}}
          </mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </p>
      <p>

      </p>
      <div class="input" style="padding-top:40px;">
        <span>
          <button style="float:inline-end" color="primary" (click)="login()" mat-button [disabled]="userForm.invalid">LOGIN</button>
          <button mat-button color="primary"  style="float: inline-start;" [routerLink]="['/sign-up']">SIGN UP</button>
      </span>
      </div>

      </form>
  </body>
  </mat-card-content>
</mat-card>
