<div>
    <mat-card> 
        <mat-card-content>
            <body class="text-center">
                <form [formGroup]="userForm" #f="ngForm">
                  <img src="assets\image\icon.jpg" alt="Logo">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-6" >
                        <p>
                            <mat-form-field>
                                <input matInput placeholder="Name" formControlName="name">
                                <mat-error >
                                  {{errors.fullName}}
                                </mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field>
                                <input 
                                ng2TelInput
                                [ng2TelInputOptions]="{initialCountry: 'in'}" 
                                (countryChange)="onCountryChange($event)" 
                                matInput 
                                formControlName="phone">
                                <mat-error >
                                  {{errors.phone}}
                                </mat-error>
                            </mat-form-field>
                    
                        </p>
                        <p>
                            <mat-form-field>
                                <input matInput placeholder="Email" formControlName="email">
                                <mat-error>
                                  {{errors.email}}
                                </mat-error>
                            </mat-form-field>
                        </p>
                      </div>
                      <div class="col-sm-6" >
                        <p>
                            <mat-form-field>
                                <input matInput placeholder="College Name" formControlName="college_name">
                                <mat-error >
                                  {{errors.college_name}}
                                </mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field>
                                <mat-label>Gender</mat-label>
                                <mat-select  formControlName="gender">
                                    <mat-option *ngFor="let gender of genders" [value]="gender.value">
                                    {{gender.viewValue}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                  {{errors.gender}}
                                </mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field>
                                <mat-label>D.O.B</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="dob">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error>
                                  {{errors.dob}}
                                </mat-error>
                            </mat-form-field>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="container" formGroupName="passwordGroup">
                    <div class="row">
                      <div class="col-sm-6" >
                        <div class="example-container">
                            <p>
                              <mat-form-field>
                                <mat-label>Enter your password</mat-label>
                                <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                                <mat-error>
                                  {{errors.password}}
                                </mat-error>
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                              </mat-form-field>
                            </p>
                          </div>
                      </div>
                      <div class="col-sm-6">
                        <p>
                          <mat-form-field>
                            <mat-label>Confirm your password</mat-label>
                            <input [errorStateMatcher]="confirmValidParentMatcher" matInput formControlName="confirmPassword" [type]="hideC ? 'password' : 'text'">
                            <mat-error>
                              {{errors.confirmPassword}}
                            </mat-error>
                            <button mat-icon-button matSuffix (click)="hideC = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hideC ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                          </mat-form-field>
                        </p>
                      </div>
                    </div>
                  </div>
                  <span>
                    <button style="float:inline-end" color="primary" [routerLink]="['/login']" mat-button>LOGIN</button>
                    <button mat-button color="primary" (click)="signUp()" style="float: inline-start;" [disabled]="userForm.invalid" [routerLink]="['/otp-verification']">SIGN UP</button>
                </span>
                </form>
            </body>
    </mat-card-content>
  </mat-card>
</div>
