<div style="margin: 10px;">
  <div class="leftpane" >
    <div class="container">
      <div class="card border-primary mb-3" style="height:100%">
        <h2 class="card-header">Ask your Question</h2>
         <div class="card-body text-primary">
              <form [formGroup]="questionForm">


                <mat-form-field style="width: 100%;" appearance="outline">
                  <mat-label>Title</mat-label>
                  <input matInput placeholder="Be specific and ask in simple language" formControlName="title">
                  <mat-error>Proper title name is required</mat-error>
                </mat-form-field>


                <!-- <mat-form-field style="width: 100%;" appearance="outline">
                  <mat-label>Body</mat-label>
                  <textarea matInput
                  cdkTextareaAutosize
                  formControlName="body"
                  #autosize="cdkTextareaAutosize"
                  placeholder="Include all the information about the question"
                  cdkAutosizeMinRows="15"
                  cdkAutosizeMaxRows="50"></textarea>
                  <mat-error>You should properly explain your doubt</mat-error>
                </mat-form-field> -->

                


                
                <mat-form-field class="example-chip-list" appearance="outline">
                  <mat-chip-list #chipList formArrayName="tags">
                    <mat-chip 
                      *ngFor="let tag of questionForm.controls.tags.value; let i=index;"
                      [selectable]="selectable"
                      [removable]="removable"
                      (removed)="remove(questionForm, i)">
                      {{tag}}
                      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Tags"
                      [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      [matChipInputAddOnBlur]="addOnBlur"
                      (matChipInputTokenEnd)="add($event, questionForm)">
                  </mat-chip-list>
                  <mat-error>Atleast 1 name need to be added</mat-error>
                </mat-form-field>
                <button  mat-button [disabled]="questionForm.invalid" >Post Question</button>
              </form>
          </div>
        </div>
      </div>
    </div>
  <div class="rightpane">
      <div class="card border-primary mb-3">
        <h2 class="card-header remove-whitespace">Your Explanation</h2>
        <div class="card-body text-primary p-0 my-auto">
          <ckeditor 
          style="width: 100%;"
          [config]="editorConfig"
          [editor]="Editor"
          ></ckeditor>
      </div>
  </div> 



